.snowflakes {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.snowflakes__item {
	display: inline-block;
	animation: snowflakes 3s linear 2s infinite;
	position: relative;
	color: white;
}

/* '❄❅❆❉' */

@keyframes snowflakes {
	0% {
		transform: translate3d(0,-90px,0) rotate(0deg);
	}
	100% {
		transform: translate3d(15px, 100%, 0px) rotate(360deg);
	};
}

.snowflakes .snowflakes__item:nth-child(3n) {
	font-size: 12px;
	animation-duration: 4s;
	transform-origin: right -45px;
}

.snowflakes .snowflakes__item:nth-child(3n+1) {
	font-size: 18px;
	animation-duration: 6s;
	transform-origin: right -30px;
}

.snowflakes .snowflakes__item:nth-child(3n+2) {
	font-size: 24px;
	animation-duration: 8s;
	transform-origin: right -15px;
}
	
/* different delays so they don't all start at the same time */
.snowflakes .snowflakes__item:nth-child(7n) {
  opacity:.3;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes .snowflakes__item:nth-child(7n+1) {
  opacity:.4;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes .snowflakes__item:nth-child(7n+2) {
  opacity:.5;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes .snowflakes__item:nth-child(7n+3) {
  opacity:.6;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes .snowflakes__item:nth-child(7n+4) {
  opacity:.7;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes .snowflakes__item:nth-child(7n+5) {
  opacity:.8;
  -webkit-animation-delay: 3s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes .snowflakes__item:nth-child(7n+6) {
  opacity:.9;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-timing-function:ease-in;
}